<title>Fractales (Prototype)</title>

<div>
  <p><%= notice %></p>

  <h1>Fractales (Prototype)</h1>

  <% if @tales.empty? %>
    <p>No tales found</p>
  <% else %>
    <table>
      <thead>
      <tr>
        <th>Tale ID</th>
        <th>Title</th>
        <th>Pages</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @tales.each do |tale| %>
        <tr>
          <td><%= tale.id %></td>
          <td><%= tale.title %></td>
          <td>(TODO)</td>
          <td><%= link_to 'Read', tale %></td>
          <td><%= link_to 'Delete', tale, method: :delete, data: { confirm: 'Are you sure?' }
          %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
  <%= link_to 'New Tale', new_tale_path %>
</div>